@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

/* Loading screen styles */
.loading-screen {
  background-color: #0a0a0a;
  color: #fff;
}

.particle {
  opacity: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.particle {
  background-color: #ffffff;
  border-radius: 50%;
}

h1 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}